<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar>
        <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
        <button *ngIf="isAuthenticated" ion-item (click)="onLoad(rootPage)">
            <ion-icon name="book" item-start></ion-icon>
            Recipe Book
        </button>
        <button *ngIf="!isAuthenticated" ion-item (click)="onLoad(signinPage)">
            <ion-icon name="log-in" item-start></ion-icon>
            Signin
        </button>
        <button *ngIf="!isAuthenticated" ion-item (click)="onLoad(signupPage)">
            <ion-icon name="person" item-start></ion-icon>
            Signup
        </button>
        <button *ngIf="isAuthenticated" ion-item (click)="onLogOut()">
            <ion-icon name="log-out" item-start></ion-icon>
            Signout
        </button>    
        <button ion-item (click)="closeMenu()">
            <ion-icon name="close-circle" item-start></ion-icon>
            Close Menu
        </button>
        </ion-list>
    </ion-content>
</ion-menu>
    
<ion-nav id="nav" #nav [root]="rootPage"></ion-nav>